
body {
    background-color: #8cc63b;
    padding-top: 10px;
}

/* Custom container */
main {
  margin: 0 auto;
  max-width: 1024px;
  margin: 0 auto 20px;
  border: 1px solid #135705;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.container-inner {
    padding: 14px 19px;
}

.container-narrow hr {
  margin: 0;
}

#header {
    background-color: #fcfcfc;
  -webkit-border-top-left-radius: 5px;
     -moz-border-top-left-radius: 5px;
          border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
     -moz-border-top-right-radius: 5px;
          border-top-right-radius: 5px;
}

#header ul {
        margin-bottom: 5px;
}

#content {
    background-color: #fffffc;
}

.page-header-article {
    margin: 0;
    padding: 0;
}

.page-footer {
    background-color: #00a54d;
    color: #fff;
    border-top: 1px solid #E5E5E5;
    padding: 20px 0;
  -webkit-border-bottom-left-radius: 5px;
     -moz-border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
     -moz-border-bottom-right-radius: 5px;
          border-bottom-right-radius: 5px;
}

#sitename {
        margin: 0;
}

#sitename a {
        color: #333333;
}

#sitename a:hover {
        text-decoration: none;
}

#sitedesc {
    margin: 0;
}

a {
    color: #1C8507;
}

a:hover {
    color: #135705;
}

.nav {
    margin-bottom: 0px;
}

.nav-list > .active > a, .nav-list > .active > a:hover {
    background-color: #8cc63b;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    color: #ffffff;
    text-decoration: none;
    background-color: #8cc63b;
    background-image: none;
}

.box-medium {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.box-medium-next {
    margin-top: 20px;
}

/*
.page-footer {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 40px;
    padding: 20px 0;
}
*/

.info-box {
  text-align: justify !important;
  text-align: left;
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #0065ad;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.info-box-label {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 20px;
  font-size: 110%;
  font-weight: bold;
  border: 1px solid #0065ad;
  background-color: #0065ad;
  color: white;

  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}

.difficulty {
    vertical-align: middle;
}

.project-list {
    margin: 10px 0;
}

.project-box {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 41px 19px 14px;
    position: relative;
}

.project-box > .project-title {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    left: -1px;
    padding: 5px 7px;
    position: absolute;
    top: -1px;
}

.project-box > img {
    width: 80px;
    float: left;
}

.project-box > .project-overview {
    padding-left: 90px;
}

.content {
    margin: 10px 0;
}

i.icon-custom {
  background-position: 0 0;
  height: 20px;
  line-height: 20px;
  width: 20px;
}

i.icon-facebook {
  background-image: url("../images/mini_facebook.png");
}

i.icon-youtube {
  background-image: url("../images/mini_youtube.png");
}

i.icon-twitter {
  background-image: url("../images/mini_twitter.png");
}

i.icon-email {
  background-image: url("../images/mini_email.png");
}

p.lead i[class^="icon-"], p.lead i[class*=" icon-"] {
  line-height: 30px;
  height: 30px;
  width: 30px;
  background-position: 5px 5px;
}

.navigation {
    padding: 8px 0;
}

@media (max-width: 979px) {
    body {
        padding-top: 10px;
    }
}

@media (max-width: 767px) {
    .hero-unit {
        padding: 10px;
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 767px) {
    body {
        padding: 10px;
    }
}

/* TODO remove outer border stuff when on phone screen */
