<div class="row-fluid">
    <ul class="nav nav-pills">
        <li><a href="{{ site.url }}">Home</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="{{ "/projects/" | relative_url }}">
            Progetti
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ "/projects/#low" | relative_url }}"><span class="label label-success">Difficolt&agrave; BASSA</span></a>
                    <a href="{{ "/projects/#medium" | relative_url }}"><span class="label label-warning">Difficolt&agrave; MEDIA</span></a>
                    <a href="{{ "/projects/#high" | relative_url }}"><span class="label label-important">Difficolt&agrave; ALTA</span></a>
                </li>
            </ul>
        </li>
        <!--<li><a href="{{ "/tutorials/" | relative_url }}">Tutorial</a></li>-->
        <li><a href="{{ "/contacts" | relative_url }}">Contatti</a></li>
        <!--
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Chi siamo
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">TEST</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Partecipa
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">TEST</a>
                </li>
            </ul>
        </li>
        -->
    </ul>
</div>
