---
og_type: webpage
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "it" }}">

{%- include head.html -%}

<body>

<main>

    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                <span class="fs-4">Simple header</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            </ul>
        </header>
    </div>

    {%- include header.html -%}

    <hr/>

    <div class="container-fluid container-inner" id="content">

        {%- include navbar.html -%}

        <div class="row-fluid">

            <!-- se menu laterale presente questo diventa span9 -->
            <div class="span12 tab-content">
                {{ content }}
            </div>

            <!--
            <div class="span3 tabbable">

                    <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">INFO VARIE</li>
                        <li class="active"><a href="#" data-toggle="tab">Che ci vuoi qua?</a></li>
                        <li><a href="#batman" data-toggle="tab">Batman</a></li>
                        <li><a href="#spiderman" data-toggle="tab">Spiderman</a></li>
                        <li><a href="#">Robin</a></li>
                        <li><a href="#">Joker</a></li>
                        <li><a href="#">Superman</a></li>
                    </ul>
                    </div>

            </div>
            -->

        </div>

    </div>

    {%- include footer.html -%}

</main>

<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>

</body>
</html>
