---
og_type: webpage
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "it" }}">

{%- include head.html -%}

<body>

<div class="container-narrow">

    {%- include header.html -%}

    <hr/>

    <div class="container-fluid container-inner" id="content">

        {%- include navbar.html -%}

        <div class="row-fluid">

            <!-- se menu laterale presente questo diventa span9 -->
            <div class="span12 tab-content">
                {{ content }}
            </div>

            <!--
            <div class="span3 tabbable">

                    <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">INFO VARIE</li>
                        <li class="active"><a href="#" data-toggle="tab">Che ci vuoi qua?</a></li>
                        <li><a href="#batman" data-toggle="tab">Batman</a></li>
                        <li><a href="#spiderman" data-toggle="tab">Spiderman</a></li>
                        <li><a href="#">Robin</a></li>
                        <li><a href="#">Joker</a></li>
                        <li><a href="#">Superman</a></li>
                    </ul>
                    </div>

            </div>
            -->

        </div>

    </div>

    {%- include footer.html -%}

</div>

<script type="text/javascript" src="{{ "/js/jquery-1.10.2.min.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/js/bootstrap-patched.min.js" | relative_url }}"></script>

</body>
</html>
